<!DOCTYPE html>

<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
</head>

<style>
    .layout
    {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input 
    {
        width: 100%;    
        box-sizing: border-box;
    }
    
    .layout2
    {
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>


<body>
    <div class="layout">
        <form action="/test" method="post">
            <input type="text" name="stateAndCityAndTown" value="제주특별자치도&제주시&아라동">
            <input type="text" name="time" value="2300">
            <button type="submit">작성</button>
        </form>
    </div>
    <div class="layout2">
        <table>
            <thead>
                <tr>
                    <th>x좌표</th>
                    <th>y좌표</th>
                    <th>발표날짜</th>
                    <th>발표시간</th>
                    <th>예보날짜</th>
                    <th>예보시간</th>
                    <th>TMP</th>
                    <th>TMN</th>
                    <th>TMX</th>
                    <th>REH</th>
                    <th>SKY</th>
                    <th>POP</th>
                    <th>PTY</th>
                    <th>PCP</th>
                    <th>SNO</th>
                    <th>WSD</th>
                </tr>
            </thead>
            <tbody th:each="data : ${responseData}">
                <tr th:if="${data == null}">
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                    <td>NONE DATA</td>
                </tr>
                <tr th:if="${data != null}">
                    <td th:text="${data.nx}"></td>
                    <td th:text="${data.ny}"></td>
                    <td th:text="${data.baseDate}"></td>
                    <td th:text="${data.baseTime}"></td>
                    <td th:text="${data.fcstDate}"></td>
                    <td th:text="${data.fcstTime}"></td>
                    <td th:text="${data.TMP}"></td>
                    <td th:text="${data.TMN}"></td>
                    <td th:text="${data.TMX}"></td>
                    <td th:text="${data.REH}"></td>
                    <td th:text="${data.SKY}"></td>
                    <td th:text="${data.POP}"></td>
                    <td th:text="${data.PTY}"></td>
                    <td th:text="${data.PCP}"></td>
                    <td th:text="${data.SNO}"></td>
                    <td th:text="${data.WSD}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>